# Envirnment:
# - https://www.appveyor.com/docs/build-environment/
# - OpenSSL 1.0.2L (32-bit) (C:\OpenSSL-Win32\bin)
# - Ruby 2.3.3 x86 (C:\Ruby23\bin)

install:
  - set PATH=C:\Ruby23\bin;%PATH%
  - gem install eventmachine --platform ruby -- --with-ssl-dir=:\OpenSSL-Win32
  - bundle install

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake

artifacts:
  - path: artifacts/poe-sniper-*.zip
    name: release archive (x86 binary, config, example input)