# Envirnment:
# - https://www.appveyor.com/docs/build-environment/
# - OpenSSL 1.0.2L (32-bit) (C:\OpenSSL-Win32\bin)
# - Ruby 2.3.3 x86 (C:\Ruby23\bin)

install:
  - set PATH=C:\Ruby23\bin;%PATH%
  - appveyor DownloadFile https://dl.bintray.com/oneclick/OpenKnapsack/x86/openssl-1.0.2j-x86-windows.tar.lzma
  - 7z e openssl-1.0.2j-x86-windows.tar.lzma
  - 7z x -y openssl-1.0.2j-x86-windows.tar -oC:\ruby23\DevKit\mingw
  - bundle config build.eventmachine --with-ssl-dir=C:/ruby23/DevKit/mingw --with-opt-include=C:/ruby23/DevKit/mingw/include
  - bundle install

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake

artifacts:
  - path: artifacts/poe-sniper-*.zip
    name: release archive (x86 binary, config, example input)